
.feature {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.feature-card {
    position: relative;
    height: 100%;
}

.feature-card div {
    width: 200px;
    height: 150px;
    overflow: hidden;
    position: absolute;
    border-radius: 15px;
}

.feature-card div:hover {
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}


.feature-card div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.feature-card div:nth-child(1)  {
    top: 20px;
    left: 15px;
    z-index: 1;
}

.feature-card div:nth-child(2)  {
  top: 25%;
    right: 15px;
    z-index: 2;
    transform: translateY(25%);
}

.feature-card div:nth-child(3)  {
    bottom: 0%;
    z-index: 3;
}