footer {
    background-color: #000000;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

footer img{
    width: 5rem;
}

footer p{
    color: #ffffff;
    margin: 0;
}