h1 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.hero {
    background-image: url('https://images.pexels.com/photos/1251198/pexels-photo-1251198.jpeg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.hero-card {
    z-index: 2;
}

.feature {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.feature-card {
    position: relative;
    height: 100%;
}

.feature-card div {
    width: 200px;
    height: 150px;
    overflow: hidden;
    position: absolute;
    border-radius: var(--space-xs);

}

.feature-card div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.feature-card div:nth-child(1)  {
    top: 20px;
    left: 15px;
    z-index: 1;
}

.feature-card div:nth-child(2)  {
  top: 25%;
    right: 15px;
    z-index: 2;
    transform: translateY(25%);
}

.feature-card div:nth-child(3)  {
    bottom: 0%;
    z-index: 3;
}