:root {
  --columns-1: repeat(1, minmax(0, 1fr));
  --columns-2: repeat(2, minmax(0, 1fr));
  --columns-3: repeat(3, minmax(0, 1fr));
  --columns-4: repeat(4, minmax(0, 1fr));
  --columns-5: repeat(5, minmax(0, 1fr));
  --columns-6: repeat(6, minmax(0, 1fr));
  --columns-7: repeat(7, minmax(0, 1fr));
  --columns-8: repeat(8, minmax(0, 1fr));
  --space-4xs: clamp(0.33rem, calc(-0.03vw + 0.33rem), 0.31rem);
  --space-3xs: clamp(0.41rem, calc(0.04vw + 0.4rem), 0.44rem);
  --space-2xs: clamp(0.51rem, calc(0.16vw + 0.48rem), 0.62rem);
  --space-xs: clamp(0.64rem, calc(0.35vw + 0.57rem), 0.88rem);
  --space-s: clamp(0.8rem, calc(0.65vw + 0.67rem), 1.24rem);
  --space-m: clamp(1rem, calc(1.11vw + 0.78rem), 1.75rem);
  --space-l: clamp(1.25rem, calc(1.81vw + 0.89rem), 2.47rem);
  --space-xl: clamp(1.56rem, calc(2.87vw + 0.99rem), 3.5rem);
  --space-2xl: clamp(1.95rem, calc(4.44vw + 1.07rem), 4.95rem);
  --space-3xl: clamp(2.44rem, calc(6.75vw + 1.09rem), 7rem);
  --space-4xl: clamp(3.05rem, calc(10.13vw + 1.02rem), 9.89rem);
}

.section {
  padding: var(--space-2xl);
  width: 100%;
}

.column {
  display: grid;
  grid-auto-flow: row;
  justify-items: start;
  align-content: start;
}

.columns-2 {
  display: grid;
  grid-template-columns: var(--columns-2);
}

.columns-3 {
  display: grid;
  grid-template-columns: var(--columns-3);
}

.columns-4 {
  display: grid;
  grid-template-columns: var(--columns-4);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}